<a href="https://colab.research.google.com/github/Dakshayini20/Yamaha/blob/main/day3_27_12_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1
b = "10"
b = int(b)
sum = a+b
print(type(sum), sum)

<class 'int'> 11

## STRING SLICING

In [ ]:
my_str = "Welcome to python class"  #Sting slicing
print(len(my_str))  #length of string
print(my_str[0:25]) #print string from 0th indext to 24th index
print(my_str[0:26]) #print string from 0th indext to full index
print(my_str[:8])   #defaultly it takes 0th index to 7th index
print(my_str[0:23:])
print(my_str[0:23:2])
print(my_str[0:4:2])
print(my_str[0:23:23])
print(my_str[0::])
print(my_str[::-1])  #reverse string

23
Welcome to python class
Welcome to python class
Welcome
Welcome to python class
Wloet yhncas
Wl
W
Welcome to python class
ssalc nohtyp ot emocleW

## STRING FUNCTIONS

In [ ]:
my_str = "Welcome to python class"
print(my_str.isalnum())  #function to say whether it is alphnumeric string
my_str1 = "Welcome1class"
print(my_str1.isalnum())
my_str2 = "Welcome class"
print(my_str2.isalnum())

print(my_str.endswith("class"))

print(my_str.count("c"))     #gives count of c in my_str
my_str4 = "WELCOME to class"           
print(my_str4.lower())        # .lower() function converts into lower letters
print(my_str4.upper())         # .upper() function converts into upper letters

False
True
False
True
2
welcome to class
WELCOME TO CLASS

In [ ]:
universe = ["stars", "planent","satellites" , "comets"]
print(universe)
print(universe[0],universe[2] )

['stars', 'planent', 'satellites', 'comets']
stars satellites

In [ ]:
numbers = [2,4,6,1,0]
print(numbers)
print(numbers[3])
numbers.sort()        #Arranging list in acending order 
print(numbers)
numbers[::-1]        #Arranging list in decending order

[2, 4, 6, 1, 0]
1
[0, 1, 2, 4, 6]

[6, 4, 2, 1, 0]

In [ ]:
numbers = [2,4,6,1,0]
print(max(numbers))      #find maximum number in list
print(min(numbers))      #find minimum num in list
numbers.append(22)       #append at last
print((numbers))
numbers.remove(4)        # list_name.remove(4) function remove nummber from list
print((numbers))

6
0
[2, 4, 6, 1, 0, 22]
[2, 6, 1, 0, 22]

In [ ]:
tup = (1,2,3,4)      #tupple concept denoted using ()
print(tup)

(1, 2, 3, 4)

## SWAPPING OF CONTENTS

In [ ]:
a = 1                #swapping contents in variables
b = 2
print(a,b)
a,b = b,a
print(a,b)

1 2
2 1