<a href="https://colab.research.google.com/github/Dakshayini20/Yamaha/blob/main/day6_03_02_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Concept of User defined function in Main function

In [ ]:
def fun(string) :
    return f"Python course by Tech Table, {string}"  #usage of F-string
def add(a1,a2) :
    return a1+a2+10
if __name__ == '__main__':    #main function
 print(fun("an E-learning platform"))
 a = add(10,20)
 print(a)

Python course by Tech Table, an E-learning platform
40

# CONCEPT OF CLASSES AND OBJECTS

In [ ]:
class student:
    pass
    no_of_student = 5
  #INSTANTATION, creation of objects
one = student()      #here one and two are the objects of class type student
two = student()
one.name = "Anu"     #name,std and sections are the the attributes of class
one.std = "10"
one.section = "A"
two.name = "Riya"
two.section = "B"
two.std ="2"
two.sub = ["Science", "Maths","English"]
print(one.name)
print(two.name)
print(one.std)
print(two.std)
print(one.section)
print(two.section)

Anu
Riya
10
2
A
B

In [ ]:
class student:
    no_of_student = 5
    def __init__(self,aname,astd,asection):        #constructor
        self.name = aname
        self.std = astd
        self.section = asection

one = student("Riya",10,"A")
two = student("Anu",2,"B")
print(one.name)
print(two.name)
print(one.std)
print(two.std)
print(one.section)
print(two.section)

Riya
Anu
10
2
A
B

# Concepts of ACCESS SPECIFIERS(Public,protected and Private)

In [ ]:
class student:
    # class variable
    no_of_subjects = 50        #public class variable
    _no_of_subjects = 40       #protected class variable
    __no_of_subjects = 30      #private class variable

    def __init__(self, aname, astandard, asection):    #constructor
        self.name = aname                 
        self.standard = astandard
        self.section = asection

    def details(self):                              #member function of class student
        return f"Name is {self.name},standard is {self.standard}"
        #instantation
one = student("Yamuna",10,"A")            # one and two are instants of class student
two = student("Buvana",7,"B")
    #printing public variable of class student can be accessed by anywhere in the program
print(one.no_of_subjects)
   #printing protected variable of class student can be accessed within the object of same class type
print(one._no_of_subjects)
    #printing private variable of class student can only be accessed within the same class
    # can't be accessed  anywhere in the program and not even within the object of same class type
#print(one.__no_of_subjects)       #code gives error

   #to print the private variables of any class the syntax is
print(one._student__no_of_subjects) # know as NAME MANGLING

50
40
30

# Concepts of POLYMORPHISM

In [ ]:
print(2+2)
print("2"+"2")

4
22

# Concepts of INHERITENCE

In [ ]:
class student :
    no_of_subjects = 5    #class variable
    def __init__(self,aname,astandard,asection):
        self.name = aname
        self.standard = astandard
        self.section = asection

    def details_of_student(self):
        return f"Name is {self.name},standard is {self.standard}"

class teacher(student):                             #teacher class is Inheriting the propeties of student class
    no_of_working_hours = 12
    def __init__(self,aname,astandard,asection,asalary):
        self.name = aname
        self.standard = astandard
        self.section = asection
        self.salary = asalary
    def details_of_teacher(self):
        return f"Name of the teacher is {self.name},standard is {self.standard},salary is {self.salary}"

       #INSTATIATION , creating of objects

one = student("YAMUNA",2,"A")       #one and two are the INSTANTS of class student
two = student("SINCHANA",8,"B")

three = teacher("SHAMBHAVI",10,"A",50000)     #three and Four are the INSTANTS of class teacher
four = teacher("GUPTHA", "12","B",50000)


print(three.name)
print(four.name)
print(three.no_of_working_hours)


print(one.details_of_student())         
print(two.details_of_student())

print(three.details_of_teacher())
print(four.details_of_teacher())

print(three.no_of_subjects)        #inheritence of student class variable in the teacher class

SHAMBHAVI
GUPTHA
12
Name is YAMUNA,standard is 2
Name is SINCHANA,standard is 8
Name of the teacher is SHAMBHAVI,standard is 10,salary is 50000
Name of the teacher is GUPTHA,standard is 12,salary is 50000
5