<a href="https://colab.research.google.com/github/Dakshayini20/Yamaha/blob/main/day_2_26_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=20
c=a+b
d=a-b
e=a%b
f=a*b
h=a//b
print(c,d,e,f,h)

30 -10 10 200 0

In [ ]:
a=2
b=3
if(a<b):
  print('p is lesser')
else:
    print("
    p is greater")

p is lesser

In [ ]:
a=3
b=2
print('a&d is : ',a&b)
print('a|d is : ',a|b)

m=10
n=20
print('m&n is : ',m&n)
print('m|n is : ',m|n)

a&d is :  2
a|d is :  3
m&n is :  0
m|n is :  30

In [ ]:
a = 11
a -= 1      #a=a-1
print(a)

10

In [ ]:
x=10
z=x
print(x is z)
print("x is z")

False
x is z
True
False

In [ ]:
x = "apple"
print("apple" in x)
print("apple" not in x)

True
False

In [ ]:
x=float(input("enter a number"))
y=float(input("enter a number"))
z = (x+y)/2                         #average of x and y
print("Average is :" ,z)

enter a number2
enter a number2
Average is : 2.0

In [ ]:
print(type(123))
print(type(12.3))

<class 'int'>
<class 'float'>
<class 'int'>

In [ ]:
a =1
b = 2.2
c = a+b
print("datatype", type(a))
print("datatype", type(b))
print("value of c :", c)
print("datatype", type(c))

datattype <class 'int'>
datattype <class 'float'>
value of c : 3.2
datatype <class 'float'>

In [ ]:
a =1
b = '10'
print(type(a))
print(type(b))
b = int(b)
sum = a+b
print(sum, type(sum))

<class 'int'>
<class 'str'>
11 <class 'int'>